<div class="boxContainer" id="about">
  <div class="zeroContent">
    <app-part-index name="About Me" index="0"></app-part-index>
    <div class="zeroColumn">
      <div class="columnOne">
        <div class="paragraphs">
          <p>
            Hello! My name is Matheus, I love to see codes since I was a child,
            my desire to program started at just 12 years old, creating and
            recreating websites in pure html and css just for fun.
          </p>
          <p>
            Today as a <span>Full Stack developer</span> - programming opened
            many doors for me and helped me to follow and dream more and more.
            Today my focus is both{{ " " }}
            <span>mobile and web front-end</span>, creating in an easy and
            responsive way for all users
          </p>
          <p>
            Here are a few technologies I&apos;ve been working with recently:
          </p>
        </div>
        <div class="gridHabilities">
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>React.JS</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Flutter</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Typescript</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Next.JS</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Dart</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Node.JS</p>
          </div>
          <div class="habilities">
            <img src="/assets/icons/arrowRight.svg" alt="" height="{25}" />
            <p>Javascript</p>
          </div>
        </div>
      </div>
      <div class="columnTwo">
        <img src="/assets/meImage.jpg" alt="Matheus Alves" />
      </div>
    </div>
  </div>
</div>
