.Home {
  /* background-color: #1f1f28; */
  height: 100vh;
  width: 100vw;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  /* z-index: -1; */
  /* position: relative; */
}
