.Home {
  background-color: #1F1F28;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  -webkit-scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
}