@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --bg-color-1: #1f1f28;
  --txt-color-1: #71cd91;
  --txt-color-2: #8a8780;
  --icon-color-1: #d6d2c7;
}

body {
  background-color: #1f1f28;
}

.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: #fff;
  bottom: 100px;
}

a {
  color: white;
}

.indexPage {
  width: 100%;
  display: flex;
  align-items: center;
}

.indexLineHori {
  width: 100%;
  min-width: 100px;
  margin-right: 10px;
  height: 1px;
  background-color: white;
}

.indexPageName {
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: auto;
  display: flex;
  white-space: nowrap;
  color: #fff;
}

.indexPageName .indexNumber {
  color: #71cd91;
}
