<div class="Links">
  <a
    href="https://www.instagram.com/matheus_alvesdg/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i-feather name="instagram" style="font-size: 30px"></i-feather>
  </a>
  <a href="http://github.com/matpdev" target="_blank" rel="noopener noreferrer">
    <i-feather name="github" style="font-size: 30px"></i-feather>
  </a>
  <a
    href="https://www.linkedin.com/in/matheus-alves-dev/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <i-feather name="linkedin" style="font-size: 30px"></i-feather>
  </a>
  <div class="verticalLine"></div>
</div>
<div class="Email">
  <a href="mailto:matheus2ep@gmail.com">{{ "matheus2ep@gmail.com" }}</a>
  <div class="verticalLine"></div>
</div>
