.Links {
  position: fixed;
  left: 20px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Links a {
  margin: 5px 0;
  transition: all 0.3s ease-in-out;
}

.verticalLine {
  width: 1px;
  height: 80px;
  background-color: white;
  margin-top: 10px;
}

.Email {
  position: fixed;
  right: 20px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
}

.Email a {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transition: all 0.3s ease-in-out;
  -webkit-text-orientation: mixed;
}

.Email a:hover,
.Links a:hover {
  color: #71cd91;
}

@media (min-width: 1440px) {
  .Links {
    left: 10vw;
  }

  .Email {
    right: 10vw;
  }
}
